:root {
  --color-regular-text: #A1A1AA;
  --color-bright-text: #FFFFFF;
  --color-input-text: #71717A;

  //--color-background: #27272A;
  //--color-table-background: #202124;
  --color-active-background: #A1A1AA;

  --color-borders: #414144;
  --color-lines: #C6C6C6;

  --color-background: #202124;
  --color-layout-background: #27272A;
}
