.thead {
  border-bottom: 1px solid var(--color-borders);

  th {
    padding: 12px;
    text-align: left;
    line-height: var(--line-height-l);
    letter-spacing: 0.1px;
    font-weight: var(--font-weight-regular);
  }
}

.level {
  width: max-content;
}

.name {
  width: 100%;
}

.static {
  width: max-content;
  white-space: nowrap;
}
