.tr {
  padding: 16px 0;

  &:hover {
    background-color: var(--color-layout-background);
  }

  & + .tr {
    border-top: 1px solid var(--color-borders);
  }

}

.td {
  padding: 16px 12px;
  color: var(--color-bright-text);
}

.delete {
  transform: translateX(-28px);
  transition: opacity 1.2s, transform 1s;
  opacity: 0;
}

.buttons {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.9s;
  position: relative;

  &.buttons_line:before {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: var(--color-lines);
    position: absolute;
    left: -8px;
    bottom: 14px;
  }

  &.buttons_line:after {
    content: "";
    display: block;
    width: 1px;
    height: 61px;
    background-color: var(--color-lines);
    position: absolute;
    left: -8px;
    bottom: 14px;
  }

  &:hover {
    background-color: var(--color-borders);

    .delete {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .add {
    z-index: 1;
  }

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
  }
}
