.page404 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.img {
  width: 451px;
  max-width: 100%;
  object-fit: cover;
}

.text {
  margin: 32px 0 28px;
}
