.header {
  position: fixed;
  z-index: 1;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background: red;

}

.main {
  display: flex;
  justify-content: center;
  padding-top: var(--header-height);
}
